.sortable {
  position: relative;
}
.sortable .upper,
.sortable .down {
  position: absolute;
  top: 2px;
  right: 4px;
  display: block;
  color: #999;
}
.sortable .down {
  top: 14px;
}
.sortable .upper:hover,
.sortable .down:hover {
  display: block;
  color: #333;
}
