header
  height 5.625rem
  line-height @height
  background linear-gradient(to top, #1472c8, lighten(#1472c8, 30%))
  color #fff
  text-align center
  font-size 20px
  box-shadow 0 8px 15px 0 rgba(0, 0, 0, .5)
